*{
    cursor: none;
}
body{
  height: 500vh;
}

.cursor{
  position: fixed;
  left: 0; top: 0;
  width: 1.5rem; height: 1.5rem;
  border-radius: 50%;
  background: rgb(212, 92, 11);
  pointer-events: none;
  transform:
  translate(var(--x), var(--y))
  translate(-50%, -50%)
  scale(var(--s, 1));
}

.form_container {
  position: fixed;
  right: 15px;
  top: 25px;
  display: grid;
  gap: 10px;
  max-width: 275px;
  padding: 10px;
  border: 1px solid;
  color: #000;
  border-radius: 5px;
  border: 1px solid #629da7;
  background-color: #87d6e4;
  opacity: 85%;
}
.form_container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.form_container p {
  margin: 0;
}

.form_container input {
  width: 40px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #0e0d0d;
  padding: 0px;

}
input[type="color"] {
  width: 42px;
  height: 22px;
  padding: 0;

  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: 1px solid #888;
}